---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 40%;
    padding: 10px;
    margin-bottom: 1em;
}
